.page-header {
	border-bottom:0px;
}
#jumbotron-top-background {
	background-image:url('https://trello-attachments.s3.amazonaws.com/586ca934a66660198872b023/5d00ca36e55e560f8ae77b0c/a6ad84d83652462efdf27f45052dcac6/01.png');
}
.front-container {
	margin-top:400px;
}
.front-container  .jumbotron {
	background-color:#000000;
	opacity:0.8;	
}
.front-container ul {
	color:#ffffff;
}
.front-container input {
	border-radius:30px;
	padding:20px;
}
.front-button {
	border-radius:30px;
	padding:10px;
	padding-left:60px;
	padding-right:60px;
	color:red;border:1px solid red;
	background-color:#ffffff;
}
.front-container button {
	border-radius:30px;
	padding:10px;
	padding-left:60px;
	padding-right:60px;
	color:red;
}
.front-colum-bk {
	background-color:#fbfbfd;
}
.front-colum {
	padding:0px;
}
.front-colum .jumbotron {
	background-color:#eff2ff;
}
.front-button-more {
	background-color:none;
	border-radius:20px;
	border:1px solid #e9262a;
	padding-left:20px;
	padding-right:20px;
	background-color:#ffffff;
}
.front-subscribe-input {
	padding-left:20px;
	padding-right:120px;
	border-radius:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.front-subscribe-send {
	padding-left:20px;
	padding-right:120px;
	border-radius:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.front-subscribe-submit {
	border-radius:20px;
	border:1px solid#e9262a;
	background-color:#ffffff;
	color:#e9262a;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px;
}
.front-subscription-bk {
    background-color:#e9262a;
}
/*fillter*/
.findjob-fillter-input {
	padding-top:25px;
	padding-bottom:25px;
	border-radius:10px;
}
.findjob-salaryrang-from {
	padding-left:0px;
}
.findjob-salaryrang-to {
	padding-right:0px;
}
.findjob-checkbox {
	-ms-transform:scale(3);
	-moz-transform:scale(3);
	-webkit-transform:scale(3);
	-o-transform:scale(3);
	transform: scale(3);padding: 30px;
}
.findjob-search {
	width:100%;
	background-color:#43b599;
	border-color:#43b599;
}
/*article*/
 .arl-menu {
 	padding-top:20px;
 	padding-bottom:20px;
 }
 .arl-viewdetail {
 	border-radius:40px;
 	padding-left:60px;
 	padding-right:60px;
 	background-color:#e9262a;
 	font-weight:bold;color:#ffffff;
 }
 .arl-what {
 	border-radius:40px;
 	background-color:#e9262a;
 	font-weight:bold;color:#ffffff;
 }
 .arl-button {
 	border-radius:100px;
 	background-color:#000000;
 }
/*article*/
/*nav*/
.nav-btn-jobseeker {
	padding-left:60px;
	padding-right:60px;
	background-color:#e9262a;
	font-weight:bold;
	color:#ffffff;
}
.nav-btn-company {
	padding-left:60px;
	padding-right:60px;
	background-color:#c4c4c4;
	font-weight:bold;
	color:#ffffff;
}
.nav-btn-login {
	border-radius:40px;
	padding-left:60px;
	padding-right:60px;
	background-color:#c4c4c4;
	font-weight:bold;color:#ffffff;
}
.nav-lang {
	border:1px solid;
	border-radius:25px;padding:5px;
}
.nav-background {
	background-color:#ffffff;
}
/*nav*/
/*arti_detail*/
.arl-detail-well {
	border:none;
	background-color:#ffffff;
	-webkit-box-shadow:0px 0px;
}
.arl-button {
	border-radius:40px;
	padding-left:60px;
	padding-right:60px;
	background-color:#e9262a;
	font-weight:bold;
	color:#ffffff;
}
.arl-detail-contact {
	background-color:#3cb878;
	color:#ffffff;
	padding-left:40px;
	padding-right:40px;
}
.arl-detail-slider {
	border:none;
	background-color:#ffffff;
	-webkit-box-shadow:0px 0px;
}
.arl-detail-button-black {
	border-radius:20px;
	background-color:#000000;
	color:#ffffff;
}
/*arti_detail*/
/*jobseeker*/
.jobseeker-register {
	border-radius:40px;
	padding-left:145px;
	padding-right:145px;
	background-color:#1cbbb4;
	font-weight:bold;
	color:#ffffff;
}
.jobseeker-inputtxt {
	padding-top:15px;
	padding-bottom:15px;
}
.jobseeker-background {
	background:linear-gradient(0deg, #80c14d,#ebffdc  80%)
}
.jobseeker-text-jobseeker {
	color:#af2a41;
}
.jobseeker-text-email {
	color:#5f9149;
}
.jobseeker-text-password { 
	color:#5f9149;
 }
 .jobseeker-btn-login {
 	border-radius:40px;
 	background-color:#83c566;
 	font-weight:bold;color:#005e20;
 }
.jobseeker-hr-color {
	border-color:#005e20;
}
.jobseeker-frame {
	border-right:1px solid #ffffff;
	border-color:#005e20;
}
.jobseeker-clear-bk{
	background-color: none;
}
.jobseeker-facebook-login {
	background-color:#004a80;color:#ffffff;
}
.jobseeker-line-login {
	background-color:#00a651;color:#ffffff;
}
/*jobseeker*/

/*company*/
.company-frm-background {
	background-image:url('https://trello-attachments.s3.amazonaws.com/5d00ca36e55e560f8ae77b0c/879x910/068ca1c3fcc0ad1fa3b412c592d3bf8f/1562320673569.jpg');background-size: 100%;
}
.company-frm-email {
	padding-top:15px;
	padding-bottom:15px;
}
.company-frm-password {
	padding-top:15px;
	padding-bottom:15px;
}
.company-frn-login {
	border-radius:40px;
	background-color:#e9262a;
	font-weight:bold;
	color:#ffffff;
}
.copany-btn-send {
	border-radius:40px;
	padding-left:145px;
	padding-right:145px;
	background-color:#3cb878;
	font-weight:bold;
	color:#ffffff;
}
/*company*/

/*foolter*/
.foolter-background { 
	background-color:background-color:#fbfbfd;
}
.foolter-text {
	color:#e9262a;
}
/*foolter*/

/*jobdetail*/
.jobdetail-image {
    padding:0px;
}
.jobdetail-container {
    background-color:#f5f5f5;
}
.jobdeail-background {
    background-color:#ffffff;
}
/*jobdetail*/

/*jobs*/
.jobs-background {
	background-color:#f5f5f5;
}
/*jobs*/